button{
	font-size: 10px;
	color: rgb(0, 0, 0);
    background-color: rgb(146, 146, 146);
    margin-left: 23.5%;
}


.button1{
    background-color: #ddd;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    width:200px;
    height:200px;
    background-color:rgb(0, 0, 0);
    border-radius:50%;
    overflow:hidden;
    transition: 0.5s;
    cursor: pointer;
}

.button2{
	background-color: #ddd;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    width:200px;
    height:200px;
    background-color:rgb(0, 0, 0);
    border-radius:50%;
    overflow:hidden;
    transition: 0.5s;
    cursor: pointer;
}

html{
    background-image:url(gambar1.jpg);
    width: 100%;
}

h1{
    background-color: white;
    background-size: 50px;
	color: rgb(0, 0, 0);
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

h1:hover{
	transition: 0.4s;
	color:rgb(47, 0, 255);
}

.button1:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.button2:hover{
	background-color: #ffffff;
    color: rgb(0, 0, 0);
}   